<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark sidebar" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/listar-videojuego" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"></svg>
                Videojuegos
            </a>
        </li>
        <li class="nav-item">
            <a href="/listar-empleado" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"></svg>
                Empleados
            </a>
        </li>
        <li class="nav-item">
            <a href="/listar-cliente" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"></svg>
                Clientes
            </a>
        </li>
        <li class="nav-item">
            <a href="/listar-recepcion" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"></svg>
                Recepciones
            </a>
        </li>
        <li class="nav-item">
            <a href="/listar-pedido" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"></svg>
                Pedidos
            </a>
        </li>
        <li class="nav-item">
            <a href="/listar-venta" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"></svg>
                Ventas
            </a>
        </li>
        <li class="nav-item">
            <a href="/listar-detallespedido" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"></svg>
                Detalles de Pedidos
            </a>
        </li>
        <li class="nav-item">
            <a href="/listar-categoria" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"></svg>
                Categorias
            </a>
        </li>
        <li class="nav-item">
            <a href="/listar-desarrollador" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"></svg>
                Desarrolladores
            </a>
        </li>
        <li class="nav-item">
            <a href="/listar-plataforma" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"></svg>
                Plataformas 
            </a>
        </li>
        <li class="nav-item">
            <a href="/listar-cargo" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"></svg>
                Cargos de Personal
            </a>
        </li>
        <li class="nav-item">
            <a href="/listar-estado" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"></svg>
                Estados de Pedidos
            </a>
        </li>
        <li class="nav-item">
            <a href="/listar-tipopago" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"></svg>
                Tipos de Pago
            </a>
        </li>

    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Ethan Arredondo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>