<div class="d-flex flex-nowrap">
    <app-navmenu></app-navmenu>
    <div>
        <div class="container">
            <h2>Listado de Estados</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let estado of estados">
                  <td>{{ estado.id }}</td>
                  <td>{{ estado.nombre }}</td>
                  <td>
                    <button class="btn btn-info btn-sm" (click)="editarEstado(estado)">Editar</button>
                    <button class="btn btn-danger btn-sm" (click)="eliminarEstado(estado.id)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>          
    </div>
</div>