<div class="d-flex flex-nowrap">
    <app-navmenu></app-navmenu>
    <div>
        <div class="container">
            <h2>Listado de Empleados</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>DNI</th>
                  <th>Cargos</th>
                  <th>Celular</th>
                  <th>Email</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let empleado of empleados">
                  <td>{{ empleado.id }}</td>
                  <td>{{ empleado.nombre }}</td>
                  <td>{{ empleado.apellido }}</td>
                  <td>{{ empleado.dni }}</td>
                  <td>{{ empleado.idCargo.nombre }}</td>
                  <td>{{ empleado.celular }}</td>
                  <td>{{ empleado.email }}</td>
                  <td>
                    <button class="btn btn-info btn-sm" (click)="editarEmpleado(empleado)">Editar</button>
                    <button class="btn btn-danger btn-sm" (click)="eliminarEmpleado(empleado.id)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>