<div class="d-flex flex-nowrap">
    <app-navmenu></app-navmenu>
    <div>
        <div class="container">
            <h2>Listado de Clientes</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Celular</th>
                        <th>Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.apellido }}</td>
                        <td>{{ cliente.dni }}</td>
                        <td>{{ cliente.celular }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>
                            <button class="btn btn-info btn-sm" (click)="editarCliente(cliente)">Editar</button>
                            <button class="btn btn-danger btn-sm"
                                (click)="eliminarCliente(cliente.id)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>