<div class="d-flex flex-nowrap" style="height: 100vh;">
    <app-navmenu class="sidebar bg-dark text-bg-dark"></app-navmenu>
    <div class="content flex-grow-1">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h3>Crear Nuevo Videojuego</h3>
                        </div>
                        <div class="card-body">
                            <form (submit)="crearVideojuego()">
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre:</label>
                                    <input id="nombre" [(ngModel)]="nuevoVideojuego.nombre" name="nombre"
                                        class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen" class="form-label">Imagen:</label>
                                    <input type="file" id="imagen" (change)="onFileChange($event)" class="form-control"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion" class="form-label">Descripción:</label>
                                    <input id="descripcion" [(ngModel)]="nuevoVideojuego.descripcion" name="descripcion"
                                        class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="idCategoria" class="form-label">Categoría:</label>
                                    <select id="idCategoria" [(ngModel)]="nuevoVideojuego.idCategoria.id"
                                        name="idCategoria" class="form-select" required>
                                        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{
                                            categoria.nombre }}</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="idDesarrollador" class="form-label">Desarrollador:</label>
                                    <select id="idDesarrollador" [(ngModel)]="nuevoVideojuego.idDesarrollador.id"
                                        name="idDesarrollador" class="form-select" required>
                                        <option *ngFor="let desarrollador of desarrolladores"
                                            [value]="desarrollador.id">{{ desarrollador.nombre }}</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="idPlataforma" class="form-label">Plataforma:</label>
                                    <select id="idPlataforma" [(ngModel)]="nuevoVideojuego.idPlataforma.id"
                                        name="idPlataforma" class="form-select" required>
                                        <option *ngFor="let plataforma of plataformas" [value]="plataforma.id">{{
                                            plataforma.nombre }}</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="precio" class="form-label">Precio:</label>
                                    <input id="precio" [(ngModel)]="nuevoVideojuego.precio" name="precio" type="number"
                                        class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="stock" class="form-label">Stock:</label>
                                    <input id="stock" [(ngModel)]="nuevoVideojuego.stock" name="stock" type="number"
                                        class="form-control" required>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Crear Videojuego</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>