
  
  .sidebar {
    height: 100vh; /* Hace que la barra lateral ocupe toda la altura de la pantalla */
    position: fixed; /* Hace que la barra lateral sea fija */
    overflow-y: auto; /* Permite el desplazamiento si el contenido es muy grande */
  }
  